*{ 
    width: 1080px;
    margin: 0 auto;
}

html, body{
    height: 95%;
    background-color: rgb(112, 218, 156);
    font-family: 'Minecraft';
}

main{
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@font-face{
    font-family: 'slkscre';
    src: url('src/assets/fonts/slkscre.ttf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Minecraft';
    src: url('src/assets/fonts/Minecraft.ttf');
   
}


.input-nombre{
    position: absolute;
    opacity: 90%;
    height: 40px;
    width: 350px;
    font-size: 40px;
    font-family: 'slkscre','Minecraft';
}